<form action="/sign-up" id="our-form">
  <input placeholder="first name" name="firstname">
  <br />
  <input placeholder="last name" name="lastname">
  <br>
  <input placeholder="email" name="email">
  <br />
  <input placeholder="password" type="passwprd" name="password">
  <br />
  <input type="submit">
</form>
